/*
 *
 */

/* code bg and plaintext */
div.highlight {
    background-color: #272822;
    color: #f8f8f2;
    padding: 0.5em;
    margin: 0.5em 0em;
    /*border: 1px dashed #d4d4d4;*/
}


/* basic layout */
body {
    font-family: sans-serif;
    font-size: 0.9em;
    background-color: #262626;
}

#site {
    width: 1000px;
    margin: 10px auto;
    padding: 0;
}

#header {
    margin: 1em 0em;
}

#content {
    float: left;
    text-align: left;
    width: 750px;
    margin-bottom: 1em;
    background-color: #fff;
    padding: 1em;
}

#footer {
    color: #808080;
    clear: both;
    border-top: solid 1px;
    padding: 0.5em 0.5em 0em 0.5em;
    /*margin: 0em 4em;*/
}

/* footer elements */
.copy { float: right; }
.cc { font-weight: bold; }

/* formatting */
.post-meta {
    border-bottom: 1px solid #bdbaad;
    margin-bottom: 0.5em;
}

.title {
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    font-size: 1.2em;
    font-weight: bold;
}

.title a {
    color: #2790B0;
    text-decoration: none;
}

.title a:visited {
    color: #2B4E72;
    text-decoration: none;
}

.title a:hover {
    color: #4E4D4A;
    text-decoration: underline;
}

.date { float: right; }

.post { margin-bottom: 2.2em; }
.post p { margin-bottom: 0.8em; }
.post ul li { margin-left: 2em; }
