/*
 *
 */

/* code bg and plaintext */
div.highlight {
    /*background-color: #272822;*/
    background-color: #191919;
    color: #f8f8f2;
    padding: 0.5em;
    margin: 0.5em 0em;
    border: 1px dashed #808080;
    clear: both;
}


/* basic layout */
body {
    font-family: sans-serif;
    font-size: 0.9em;
    background-color: #262626;
    color: #e5e5e5;
}

a {
    color: #2790B0;
    text-decoration: none;
}

a:visited {
    color: #2B4E72;
    text-decoration: none;
}

a:hover {
    /*color: #4E4D4A;*/
    color: #5FD7FF;
    text-decoration: none;
}

#site {
    width: 1000px;
    margin: 10px auto;
    padding: 0;
}

#header {
    margin: 1em 0em;
}

#header h1 {
    color: #808080;
    font-weight: bold;
    font-size: 2em;
}

#header h3 {
    color: #808080;
    font-size: 0.8em;
    padding-bottom: 1em;
}

#content {
    float: left;
    text-align: left;
    width: 750px;
    margin-bottom: 1em;
    /*background-color: #fff;*/
    padding: 1em;
}

#nav {
    text-align: right;
}

.nav-links ul li { list-style: none; }

.nav-links a {
    font-size: 1.2em;
    color: #2790B0;
    font-weight: bold;
}

.nav-links a:hover { color: #5FD7FF !important; }
.nav-links a:visited { color: #2790b0; }

.nav-sep { margin-top: 1em; margin-bottom: 0.6em; color: #808080; }
.nav-buttons ul li { list-style: none; display: inline; }

#footer {
    color: #808080;
    clear: both;
    border-top: solid 1px;
    padding: 0.5em 0.5em 1em 0.5em;
    font-size: 0.9em;
    /*margin: 0em 4em;*/
}

/* footer elements */
.copy { float: right; }
.cc { font-weight: bold; }

#footer a {
    color: #808080 !important;
}

#footer a:hover {
    color: #808080 !important;
    text-decoration: underline !important;
}

#footer a:visited {
    color: #808080 !important;
}



/* post formatting */
.post { margin-bottom: 3.2em; clear: both; }
.post p { margin-bottom: 0.8em; }
.post ul, .post ol { margin-bottom: 1em; }
.post ul li, .post ol li { margin-left: 2em; }

.post-meta {
    border-bottom: 1px solid #bdbaad;
    margin-bottom: 0.6em;
}

.title {
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    font-size: 1.2em;
    font-weight: bold;
}



.date {
    float: right;
    font-size: 0.8em;
}

.left {
    float: left;
    margin: 0em 1em 1em 0em;
}

.right {
    float: right;
    margin: 0em 0em 1em 1em;
}

.hsection {
    font-weight: bold;
    margin-bottom: 0.4em;
}

#gpg {
    clear: both;
    margin-bottom: 2em;
    font-size: 0.7em;
}

.paginator ul li {
    display: inline;
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
}

.paginator a:visited { color: #2790b0; }
.paginator a:hover { color: #5FD7FF !important; }

.prevp { float: left; }
.nextp { float: right; }

.archives ul li { list-style: none; }
.archives { font-size: 1.2em; }

.fixed-font { font-family: monospace; }
