---
title: myblog
layout: master
---
<div class="post-list">
    {% for post in paginator.posts %}
        {% include post.html %}
    {% endfor %}
</div>
<div class="paginator">
    <ul>
        {% if paginator.previous_page %}
            {% if paginator.previous_page > 1 %}
                <li class="prevp">
                    <a href="/page{{ pagiantor.previous_page }}">&larr; newer posts</a>
                </li>
            {% else %}
                <li class="prevp"><a href="/">&larr; newer posts</a></li>
            {% endif %}
        {% endif %}
        {% if paginator.next_page %}
            <li class="nextp">
                <a href="/page{{ paginator.next_page }}">older posts &rarr;</a>
            </li>
        {% endif %}
    </ul>
</div>
