---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta post-date"><i class="fa fa-calendar"></i>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="meta"><i class="fa fa-tags"></i>{{ page.categories | join: ', ' }}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}
  </footer>

</div>
