<div class="hero" style="background-image: url('/images/great_wave_off_kanagawa2.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
        <h1>{{ site.author }}</h1>
        <hr>
        <p class="lead">
        Hello, my name is Tasos and I am a Software engineer. I mostly work with Python, Ruby and PHP. This is my blog, containing mostly tech-related stuff. Feel free to contact me using any of the links below.
        </p>
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      <a href="https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa" target="_blank">The Great Wave off Kanagawa</a> <a href="https://en.wikipedia.org/wiki/File:Great_Wave_off_Kanagawa2.jpg" target="_blank" class="licence"><small>(public domain)</small></a>
    </p>
  </div>
</div>
